{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block monTitre %}Inscription{% endblock %}
{% block body %}
<div class="containerInscription w-50 mx-auto border border-info rounded p-3">
    {{form_start(form)}}
        {{form_widget(form)}}
        <input type="submit" class="btn btn-primary" value="Valider">
    {{form_end(form)}}
</div>

{% endblock %}
